{{ if isset .Params "redirect" }}
    {{ .Scratch.Set "lowerURL" (.Params.redirect | lower) }}

    {{ if not (or (hasPrefix (.Scratch.Get "lowerURL") "http://") (hasPrefix (.Scratch.Get "lowerURL") "https://")) }}
        {{ .Scratch.Set "url" (print "../" .Params.redirect) }}
    {{ else }}
        {{ .Scratch.Set "url" .Params.redirect }}
    {{ end }}

    <script>
        window.stop()
        location = atob('{{ base64Encode (.Scratch.Get "url") }}')
    </script>
    <meta http-equiv="refresh" content="0;URL='{{ .Scratch.Get "url" }}'" />    
{{ end }}